
/*Flexbox Contacto*/
.rowContacto {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.mainContacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rowContacto {
    padding-left: 20rem;
    list-style: none;
}

.rowContacto1 {
    padding-right: 30rem;
}

h3 {
    text-align: center;
}
