/**Variables NavBar**/

$navbar-nav-link-padding-x:         2.5rem;
$font-size-base:              1.5rem !default;

/**Variables acordeon**/

$accordion-padding-y:                     0.5rem;
$accordion-padding-x:                     2rem;
$border-radius:               1.25rem !default;
$gray-900: #797473 !default;


@import "../node_modules/bootstrap/scss/bootstrap";